{% extends "header.html" %}
{% block content %}
<div class="row divider">
  <div class="col-md-12"></div>
</div>
<div class="row banner">
  <div class="col-md-11 col-md-offset-1 p-0">
    <h1>New Video Game</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1 py-3">
    <form action="{{ url_for('newGame', genre_id=genre.id) }}" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type ="text" maxlength="250" class="form-control" name="name" placeholder="Name of the game" required>
        <label for="description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the game"></textarea>
        <label for="price">Price:</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $" required>
        </div>
        <label for="developer">Developer:</label>
        <input type ="text" maxlength="250" class="form-control" name="developer" placeholder="Developer of the game" required>
        <label for="release_date">Release Date:</label>
        <input type ="date" class="form-control" name="release_date" placeholder="Date of release" required>
        <label for="platform">Platform:</label>
        <div class="radio">
          <label>
          <input type="radio" name="platform" value="PC" required>PC
          </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="platform" value="XBOX" required>XBOX
          </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="platform" value="PS4" required>PS4
          </label>
        </div>
        
        <label for="genre">Genre:</label>
        <input type ="text" maxlength="250" class="form-control" name="genre" value="{{ genre.name }}" readonly> <br />

        <button type="submit" class="btn btn-default" id="submit" type="submit">
        Create Game</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}